{% extends 'base.html' %}

{% block content %}
    <ul>
        <li>Streamline updating list of vendors' DPA (<a href="https://ironcladapp.com/journal/contracts/what-is-a-data-processing-agreement-dpa/">link</a>) for GDPR compliance<ul>
    </ul>
    <h2>Roadmap</h2>
    <h3> DONE List of vendors dashboard + vendor creation form: April 10</h3>
    <ul>
        <li> DONE Models + db for organization (name), vendors (organization, name, DPA list, pending)</li>
        <li> DONE At /{org_name} show a list of all the vendors in that org, pending in separate area</li>
        <li> DONE At /{org_name}/add Add vendors forms</li>
        <li> TODO UPDATE from /{org_id} -> /{org_name}</li>
    </ul>
    <h3>Org creation + auth flow + Sendgrid email integration + rate limit: April 17</h3>
    <ul>
        <li>Summarize how to integrate google oauth</li>
        <li>In join.html, users have to login using google oauth first</li>
        <li>users account is associated as a member of that organization</li>
        <li>for /{org_id}/add_vendor -> redirect to join if user has not authed with google oauth and their user is not a member of that org</li>
        <li>repeat above for /{org_id}/add_stakeholder</li>
        <li>summarize how sendgrid can be integrated</li>
        <li>create a function that takes an org, stakeholder, and list of vendors and generates an email</li>
        <li>create a function that actually sends this email</li>
        <li>any user can only press send email once every 5 minutes, a max of 20 emails at once</li>
    </ul>
    <h3>Design in Figma + apply design: May 24</h3>
    <h3>User interview + Usability updates + landing page: May 1</h3>
    <h3>Prepare for launch: May 8</h3>
{% endblock content %}