<h1>DPAlist</h1>
<ul>
    <li>Streamline updating list of vendors' DPA (<a href="https://ironcladapp.com/journal/contracts/what-is-a-data-processing-agreement-dpa/">link</a>) for GDPR compliance<ul>
</ul>
<h2>Roadmap</h2>
<h3>List of vendors dashboard + vendor creation form: April 10</h3>
<ul>
    <li>Models + db for organization (name), vendors (organization, name, DPA list, pending)</li>
    <li>At /{org_name} show a list of all the vendors in that org, pending in separate area</li>
    <li>At /{org_name}/add Add vendors forms</li>
</ul>
<h3>Org creation + auth flow + Sendgrid email integration + rate limit: April 17</h3>
<h3>Design in Figma + apply design + Stripe integration: May 24</h3>
<h3>User interview + Usability updates + landing page: May 1</h3>
<h3>Prepare for launch: May 8</h3>
    